{% extends "layout.html" %}
{% block body %}

<div class="row"><div class="col-md-6 col-md-offset-3">
  <h1>Download Data</h1>
  <p class="lead">Access all of the current data here for your own modeling and analysis.<p>


  <form id="dnld">
    <div class="col-md-8">
      <select placeholder="Choose site(s)" id="dsite" name="site" multiple>
        <option value="">Choose site(s)</option>
        {% for sv, sn in sites %}
        <option value="{{sv}}">{{sn}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-4">
      <button name="dnldsite" class="btn btn-primary btn-block">Select</button>
    </div>
  </form>
</div></div>
<br>

<div class="row" id="dnldspecs"><div class="col-md-6 col-md-offset-3">
  <form id="dnld_specs" action="/_getcsv" method="POST" class="form-horizontal">
    <p class="lead">Dates:</p>
    <input type="hidden" name="site" value="">
    <input type="hidden" name="variables" value="">
    <input type="hidden" name="startDate" value="">
    <input type="hidden" name="endDate" value="">
    <input class="form-control" type="text" id="datepicker" name="daterange" value="" placeholder="Select date range"><br>
<!--<div class="input-daterange input-group" id="datepicker">
        <input type="text" id="startDate" class="input-sm form-control" name="startDate" data-date-format="YYYY-MM-DD"/>
        <span class="input-group-addon">to</span>
        <input type="text" id="endDate" class="input-sm form-control" name="endDate" data-date-format="YYYY-MM-DD"/>
    </div><br> -->
    <p class="lead">Variables:</p>
    <div id="dnld_vars"></div><br>
    <div class="form-inline">
      Include data flags: <input type="checkbox" id="flag" name="flag"> &nbsp; <small class="form-text text-muted">Unavailable if reformatting data.</small>
      <br>
      Include local USGS discharge and depth values: <input type="checkbox" name="usgs"><br>
      <small class="form-text text-muted">Note: this feature can add considerable time for long timeseries due to querying the USGS server.</small>
    </div><br>

    <p class="lead">Formatting:</p>
    <div class="form-inline">
      Temporal aggregation:
      <select id="aggregate" name="aggregate" class="form-control">
        <option value="none" selected>15 minutes (default)</option>
        <option value="H">1 hour</option>
        <option value="D">1 day</option>
      </select>
      <br>
      Data format:
      <select id="dataform" name="dataform" class="form-control">
        <option value="long" selected>Long</option>
        <option value="wide">Wide</option>
      </select> &nbsp; <a href="https://en.wikipedia.org/wiki/Wide_and_narrow_data" target="_new"><i class="fa fa-question-circle-o"></i></a>
    </div><br>

    <button id="getcsv" type="submit" value=Download class="btn btn-primary btn-block">Download</button>
  </form>
</div></div>

<script>
$('#dsite').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) { return { value: input,text: input } }
});

$(function(){
  $("button[name=dnldsite]").click(function(){
    var dat = {}
    dat['site'] = $('select[name=site]').val();
    $.ajax({
      type: 'POST',
      url:'/_getstats',
      data: JSON.stringify(dat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){
        $('#dnldspecs').show();
        // $('.input-daterange').datepicker({
        //     startDate: response.startDate,
        //     endDate: response.endDate,
        //     todayHighlight: true,
        //     format: 'yyyy-mm-dd'
        // });
        // $('#startDate').val(response.startDate);
        // $('#endDate').val(response.endDate);
        $('#datepicker').daterangepicker({
          locale: {format: 'YYYY-MM-DD', separator: ' to '},
          startDate: response.startDate,
          endDate: response.endDate,
          minDate: response.startDate,
          maxDate: response.endDate,
          autoApply: true,
          opens: 'left'
        });

        $('#dnldspecs input[name=site]').val(response.site);
        $("#dnld_vars").empty();
        for (var i = 0; i < response.variables.length; ++i) {
            $('#dnld_vars').append('<input type="checkbox" id="variables" value="'+response.variables[i]+'" checked> '+response.variables[i]+'<br>');
        }
      },
      error: function(error){
        console.log(error);
      }
    });
    return false;
  })
});

$('#datepicker').on('apply.daterangepicker', function(ev, picker) {
  $('#dnldspecs input[name=startDate]').val(picker.startDate.format('YYYY-MM-DD'));
  $('#dnldspecs input[name=endDate]').val(picker.endDate.format('YYYY-MM-DD'));
});

$(function(){
  $("#getcsv").click(function(){
    $('#dnldspecs input[name=variables]').val( $('#variables:checked').map(function() { return this.value; }).get() );
  })
});

$(function(){
  $("#aggregate").change(function(){
    $('#flag').prop('checked', false);
    if(this.value=="none" && $("#dataform").val()=='long'){
      $('#flag').attr("disabled", false);
    }else{
      $('#flag').attr("disabled", true);
    };
  })
});

$(function(){
  $("#dataform").change(function(){
    $('#flag').prop('checked', false);
    if(this.value=="long" && $("#aggregate").val()=='none'){
      $('#flag').attr("disabled", false);
    }else{
      $('#flag').attr("disabled", true);
    };
  })
});


</script>

{% endblock %}
