{% extends "layout.html" %}
{% block body %}

{% for f in filenames %}
{{f}}<br>
{% endfor %}

<p>Match your columns (on the left) with the database variables (in the dropdown). To exclude a column, leave the dropdown blank.</p>
<p><i>Double check your column specifications.</i></p>

<div class="row"><div class="col-md-6 col-md-offset-3">
  <form id="choosecolumns" class="form-horizontal" method="POST" action="/upload_confirm">
    <input type="hidden" name="tmpfile" value="{{tmpfile}}">
    <input type="hidden" name="cdict" value="">
    {% for c in columns %}
    <div class="input-group input-group-sm">
      <span class="input-group-addon">{{c}}</span>
      <select class="form-control selectpicker" name="{{c}}">
        <option selected disabled value></option>
        {% for v in variables %}
        <option value="{{v}}">{{v}}</option>
        {% endfor %}
      </select>
    </div><br>
    {% endfor %}
    <div class="input-group input-group-sm">
      <button name="columnin" type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
  </form>
</div></div>
{{tmpfile}}

<script>
function alertbox(alrt,msg){
  return '<div class="alert alert-dismissible alert-'+alrt+'">\
    <button class="close" data-dismiss="alert" aria-label="close">&times;</button>\
    '+msg+'</div>'
}
$(function(){
  $('button[name=columnin]').click(function() {
    cdict = JSON.stringify($("#choosecolumns").find("select").serializeArray());
    $('#choosecolumns input[name=cdict]').val( cdict );
    //
    //
    //
    // d = {}
    // d['tmpfile'] = $('input[name=tmpfile]').val()
    // d['dict'] =
    // JSON.stringify(d)
    // $.ajax({
    //   type: 'POST',
    //   url:'/upload_confirm',
    //   data: JSON.stringify(d),
    //   contentType: 'application/json;charset=UTF-8',
    //   success: function(response){
    //     if (response.result=='Success') {
    //       console.log("success");
    //       // $("#alerts").append(alertbox('success','Uploaded '+result.nobs+' data points. Thank you!'))
    //     } else {
    //       $("#alerts").append(alertbox('warning','Unknown error, please contact Aaron...'))
    //     }
    //   }
    // })
    // return false;
  });
})

</script>

{% endblock %}
