{% extends "layout.html" %}
{% block body %}

<p><i>Uploading {{filenames|length}} files:</i><br>
{% for f in filenames %} {{f}} {% endfor %}</p>

<p>Match <u>your columns (on the left)</u> with the <u>database variables (in the dropdown)</u>. To exclude a column, leave the dropdown blank. The dropdowns will automatically populate with your last selection.</p>
<p><b>Please double check your column specifications!</b> If you duplicate variables in the dropdowns our database will consider those columns as the same variable (and average them by date).</p>

<div class="row"><div class="col-md-6 col-md-offset-3">
  <p class="text-right">Don't see your variables? <a href="mailto:aaron.berdanier@gmail.com">Send us an email!</a></p>
  <form id="choosecolumns" class="form-horizontal" method="POST" action="/upload_confirm">
    <input type="hidden" name="tmpfile" value="{{tmpfile}}">
    <input type="hidden" name="cdict" value="">
    {% for c in columns %}
    <div class="input-group input-group-sm">
      <span class="input-group-addon">{{c}}</span>
      <select class="form-control" name="{{c}}">
        {% if c in cdict.keys() %}
          {% for v in variables %}
            {% if v == cdict[c] %}
            <option value="{{v}}" selected>{{v}}</option>
            {% else %}
            <option value="{{v}}">{{v}}</option>
            {% endif %}
          {% endfor %}
        {% else %}
          <option selected disabled value></option>
          {% for v in variables %}
          <option value="{{v}}">{{v}}</option>
          {% endfor %}
        {% endif %}
      </select>
    </div><br>
    {% endfor %}
    <button name="columnin" type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>
  <form id="cancelcols" class="form-horizontal" method="POST" action="/upload_cancel">
    <input type="hidden" name="ofiles" value="{{ filenames|join(',') }}">
    <input type="hidden" name="tmpfile" value="{{tmpfile}}">
    <button name="cancel" class="btn btn-link btn-block">Cancel</button>
  </form>
</div></div>




<script>
function alertbox(alrt,msg){
  return '<div class="alert alert-dismissible alert-'+alrt+'">\
    <button class="close" data-dismiss="alert" aria-label="close">&times;</button>\
    '+msg+'</div>'
}
$(function(){
  $('button[name=columnin]').click(function() {
    cdict = JSON.stringify($("#choosecolumns").find("select").serializeArray());
    $('#choosecolumns input[name=cdict]').val( cdict );
  });
})

</script>

{% endblock %}
