{% extends "layout.html" %}
{% block body %}

<div class="row"><div class="col-md-6 col-md-offset-3">
  <form id="dnld" class="form-horizontal">
    <div class="input-group input-group-sm">
      <span class="input-group-addon">Choose a site</span>
      <select class="form-control selectpicker" name="site">
        {% for s in sites %}
        <option value="{{s}}">{{s}}</option>
        {% endfor %}
      </select>
      <span class="input-group-btn">
        <button name="dnldsite" class="btn btn-primary">Select</button>
      </span>
    </div><br>
  </form>
</div></div>


<div class="row" id="dnldspecs"><div class="col-md-6 col-md-offset-3">
  <form id="dnld_specs" class="form-horizontal">
    Choose dates:<br>
    <input type="hidden" name="site" value="">
    <input type="hidden" name="variables" value="">
    <div class="input-daterange input-group" id="datepicker">
        <input type="text" id="startDate" class="input-sm form-control" name="startDate" data-date-format="YYYY-MM-DD"/>
        <span class="input-group-addon">to</span>
        <input type="text" id="endDate" class="input-sm form-control" name="endDate" data-date-format="YYYY-MM-DD"/>
    </div><br>
    Select variables:<br>
    <div id="dnld_vars"></div><br>
    <button id="getviz" class="btn btn-primary btn-block">View</button>
  </form>
</div></div>

<div id="graphs"></div>

<script>
function Plot(vvv, data){
  var margin = {top: 40, right: 40, bottom: 40, left: 40},
      width = $("#graphs").width() - margin.left - margin.right,
      height = 250 - margin.top - margin.bottom;
  var x = d3.scaleTime().range([0, width]);
  var y = d3.scaleLinear().range([height, 0]);
  var parseDate = d3.utcParse("%Y-%m-%dT%H:%M:%S.%LZ");
  data.forEach(function(d){
    d.date = parseDate(d['DateTime_UTC'])
    d.vals = d[vvv]
  });
  console.log(JSON.stringify(data));
  x.domain(d3.extent(data, function(d) { return d.date; }));
  y.domain(d3.extent(data, function(d) { return d.vals; }));
  var line = d3.line()
      .defined(function(d){return d.vals;})
      .x(function(d) { return x(d.date); })
      .y(function(d) { return y(d.vals); });
  var svg = d3.select("#graphs").append("svg")
    .datum(data)
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
  svg.append("g")
      .attr("class", "axis axis--x")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom().scale(x).ticks(6));
  svg.append("g")
      .attr("class", "axis axis--y")
      .call(d3.axisLeft().scale(y).ticks(3))
    .append("text")
      .attr("fill", "#000")
      .attr("dy", "-0.71em")
      .attr("dx", "0.71em")
      .style("text-anchor", "start")
      .text(vvv);
  svg.selectAll(".dot")
      .data(data.filter(function(d) { return d.vals; }))
    .enter().append("circle")
      .attr("class", "dot")
      .attr("cx", line.x())
      .attr("cy", line.y())
      .attr("r", 0.5);
  svg.append("path")
      .attr("class", "line")
      .attr("d", line);
}

$(function(){
  $("button[name=dnldsite]").click(function(){
    var dat = {}
    dat['site'] = [$('select[name=site]').val()];
    $.ajax({
      type: 'POST',
      url:'/_getstats',
      data: JSON.stringify(dat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){
        $('.input-daterange').datepicker({
            startDate: response.startDate,
            endDate: response.endDate,
            todayHighlight: true,
            format: 'yyyy-mm-dd'
        });
        $('#dnldspecs input[name=site]').val(response.site);
        $("#dnld_vars").empty();
        var i;
        for (i = 0; i < response.variables.length; ++i) {
            $('#dnld_vars').append('<input type="checkbox" id="variables" value="'+response.variables[i]+'"> '+response.variables[i]+'<br>');
        }
        $('#dnldspecs').show();
      },
      error: function(error){
        console.log(error);
      }
    });
    return false;
  })
});

$(function(){
  $("#getviz").click(function(){
    var dat = {}
    dat['site'] = $('select[name=site]').val();
    dat['startDate'] = $('#startDate').datepicker('getUTCDate');
    dat['endDate'] = $('#endDate').datepicker('getUTCDate');
    dat['variables'] = $('input:checkbox:checked').map(function() { return this.value; }).get();
    $('#dnldspecs input[name=variables]').val( $('input:checkbox:checked').map(function() { return this.value; }).get() );
    $.ajax({
      type: 'POST',
      url:'/_getviz',
      data: JSON.stringify(dat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){
        $("#graphs").empty();
        for (var i = 0; i < response.variables.length; ++i) {
          Plot(response.variables[i], JSON.parse(response.dat));
        }
      },
      error: function(error){
        console.log(error);
      }
    });
    return false;
  })
});

</script>

{% endblock %}
